.design {
  font-weight: 100;
}

.build {
  font-weight: 400;
}

.grow {
  font-weight: 700;
}

.design-emphasis {
	color: $design-color;
}

.build-emphasis {
	color: $build-color;
}

.grow-emphasis {
	color: $grow-color;
}