body {
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $font-size-base;
  line-height: $heading-line-height;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

h1 {
}

h2 {
}

.subhead {
  font-family: $adelle;
  font-size: $font-size-base * 1.25;
}

p {
}

.minimal-text {
  font-size: $font-size-base;
  text-transform: uppercase;
  font-family: $nimbus-cond;
  letter-spacing: 2px;
  color: $cb-medium-gray;
}

.title-text {
  font-size: $font-size-base * 3;
  font-family: $adelle;
}

.content-text {
  font-size: $font-size-base * 1.55;
  font-weight: 500;
}