/**
 * partials/wrapper
 * ---
 */


.wrapper {
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.container {
	@include container(90%);

	@include breakpoint(desktop) {
		@include container(80%);
	}
}