/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$roboto:			"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima:     "proxima-nova", sans-serif;
$freight:  		"freight-text-pro", "Georgia", Cambria, Times New Roman, Times, serif;
$adelle:      "adelle", "Georgia", Cambria, Times New Roman, Times, serif;
$nimbus-cond: "nimbus-sans-condensed", sans-serif;

$font-family-base: $freight;
$font-size-base: 1.4rem;
$line-height-base: 1.5;

$heading-font-family: $proxima;
$heading-line-height: 1;


/**
 * Colors
 */

$black:             #000;
$white:             #fff;

$cb-red:						#de4f4f;
$cb-green:					#aed136;
$cb-yellow:					#d1c500;
$cb-light-gray:			#ecf0f1;
$cb-medium-gray:		#6f6c65;
$cb-dark-gray:			#343439;

$bones-pink:        #f01d4f;
$blue:              #1377b8;

$link-color:        $cb-medium-gray;
$link-hover:        lighten($link-color, 10%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$text-color: $cb-dark-gray;
$body-bg: $white;
$selection-bg: $cb-red;

$primary-color: $cb-dark-gray;
$design-color: $cb-red;
$build-color: $cb-yellow;
$grow-color: $cb-green;

/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

$base-border: 1px solid $cb-light-gray;

// menu

$mobile-nav-width: 260px;
